﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>First AngularJS Application</title>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
    <script type="text/javascript" src="JavaScript1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" />
    <link rel="stylesheet" href="StyleSheet1.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        </head>
            <body ng-app="weatherApp" ng-controller="weatherCtrl" class="text-center info" ng-style="weatherBackground">
                <h1>{{channelInfo.heading}}</h1>

                <a href="http://trevorstelmach.com"><h2>{{channelInfo.subheading1}}</h2></a>
                <h3>{{channelInfo.subheading2.name}}</h3>
                <a class="btn-lg btn-primary">{{description | uppercase}} <img ng-src="{{icon}}" /></a>
                <a class="btn-lg btn-primary">{{speed}}</a>
                <a class="btn-lg btn-primary">{{name}}</a>
                <a class="btn-lg btn-primary" ng-init="tempVal = true" ng-show="tempVal" ng-click="tempVal =! tempVal">{{fTemp}}</a>
                <a class="btn-lg btn-primary" ng-show="!tempVal" ng-click="tempVal =! tempVal">{{cTemp}}</a>
        
        
       
        
        
        </body>
        </html>
